/* прибьём футер к низу*/
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
* {
	box-sizing: border-box;
}
@font-face {
    font-family: Bebas; /* Гарнитура шрифта */
    src: url(../fonts/BEBAS___.ttf); /* Путь к файлу со шрифтом */
   }
html {
	overflow-y: scroll;
	font-family: ElektraLightPro;
}
.wrapper{
	position: relative;
	min-height: 100%;
	height: auto!important;
	overflow: hidden;
	min-width: 1200px;
}
.wrapper:after {
	content: "";
	height: 238px;
	display: block;
}
.page-footer{
	height: 293px;
	min-width: 1200px;
	margin-top: -293px;
	background-color: #F7F7F7;	
}
/* прибьём футер к низу - конец*/
/*clearfix*/
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.container {
	width: 940px;
	margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*Уберем пробелы между дочерними инлайн-блоками*/
.inb-null {
	font-size: 0px;
}
.like {
	width: 70px;
	display: inline-block;
}

.like__icon {
	display: inline-block;
}
.number {
	position: relative;
	display: inline-block;
	width: 31px;
	height: 22px;
	font-size: 13px;
	color: black;
	line-height: 22px;
}
.number:before {
	content: '';
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	display: block;
	width: 31px;
	height: 22px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
}
/*******************HEADER***********************/
.header {
	padding-top: 26px;
	margin-bottom: 40px;/*вернемся*/
}
.header__logo {
	float: left;
	width: 267px;
	height: 56px;
}
.header__services {
	float: right;
	width:670px;/**/
	margin-right: -150px;
}
.search,
.map,
.enter {
	position: relative;
	display: inline-block;
	margin-right: 78px;
	
}
.search__link,
.map__link,
.enter__link {
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
.search__info,
.map__info,
.enter__info {
	font-size: 12px;
	color: #A3A3A8;
}
.search:before {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	background-image: url(../img/search.png);
	top: 0px;
	left: -45px;
}
.map:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 35px;
	background-image: url(../img/map.png);
	top: 0px;
	left: -35px;
}
.enter:before {
	content: '';
	position: absolute;
	width: 33px;
	height: 35px;
	background-image: url(../img/enter.png);
	top: 0px;
	left: -40px;
}
/**********HEADER-NAV*****************/
/*.header-nav nav {
	display: inline-block;
}*/
.header-nav {
	margin-bottom: 23px;
}
.header-nav nav {
	display: inline-block;
}
.header-nav__list {
	float: left;
}
.header-nav__promo-list {
	float: right;
}
.header-nav__item {
	float: left;
	margin-right: 37px;
}
.header-nav__item:last-child {
	margin-right: 0;
}
.header-nav__promo-item {
	float: right;
	margin-left: 101px;
	
}
.header-nav__promo-item:first-child {
	margin-left: 37px;
}
.header-nav__promo-item:last-child {
	margin-right: 0;
	padding-left: 21px;
	background: url(../img/bonus-star.png) left center no-repeat;
}
.header-nav__link,
.header-nav__promo-link {
	font-size: 14px;
	line-height: 22px;
	color: #124E9C;
	
}
.header-nav__link:hover,
.header-nav__promo-link:hover {
	text-decoration: none;
	color: #000;
}
/*************GALLERY*****************/
.like {
	width: 71px;
	text-align: center;
	cursor: pointer;
}
.number {
	overflow: hidden;
	font-size: 0px;
}
.next {
	margin-top: -22px;
}
.like__icon {
	width: 25px;
	height: 24px;
	background-image: url(../img/like-btn.png);
	margin-right: 10px;
	transition: all 2s;
}
.like__icon:hover {
	background-image: url(../img/like-hover-btn.png);
}
.number .current,
.number .next {
	height: 22px;
	font-size: 19px;
	font-weight: bold;
}


/**********BANNER****************/
.banner {
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 611px;
	margin-bottom: 50px;
}
.banner__marks {
	margin: 0 auto;
	margin-bottom: 80px;
	text-align: center;
	position: relative;/*для привязки картинок*/
}
.banner__like,
.banner__mileage,
.banner__km {
	display: inline-block;
}
.banner__like {
	position: absolute;
	top: 130px;
	left: 35px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #ff9c00;
	line-height: 135px;
	text-align: center;
}
.banner__like img {
	display: inline-block;
	
}

.banner__mileage {
	
	font-size: 248px;
	color: #fff;
	
}
.banner__km {
	position: absolute;
	top: 130px;
	right: 35px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #B0CE2E;
	font-size: 30px;
	color: #fff;
	line-height: 110px;
	text-align: center;
}
.banner__title,
.banner__info {
	text-align: center;
	color: #fff;
}
.banner__title {
	font-size: 50px;
	line-height: 49px;
	position: relative;/*вытаскиваем вперед*/
	z-index: 1;/*OK Если 0 то под картинкой*/
}
.banner__info {
	position: relative;
	z-index: 1;
	font-size: 19px;
	line-height: 27px;
	width: 787px;
	margin: 0 auto;
}
/*внешние стили*/
.counter {
	display: block;
    padding: 0px 37px;
    float:left;
    font-size: 248px;
    line-height: 248px;
    z-index: 3;
}

.counter span.digit {
    
    color: #FFF;
    display: block;
    float: left;
    height: 350px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 135px;
}

.counter span.digit span {
	font-family: Bebas;
    line-height: 350px;
    height: 350px;
    position:relative;
    top: 0;  
}
/*конец внешних стилей*/
.banner__image-front {
	position: absolute;
	width: 938px;
	height: 445px;
	top: 166px;
	left: 1px;
	z-index: 1;
}

/**********ACTION****************/
.action {
	margin-bottom: 50px;
}
.action__list {
	/*text-align: center;/*если оставим здесь, в других местах
	дочерних элементов можем убрать*/
}
.action__item {
	display: inline-block;
	width: 300px;
	margin-right: 20px;
	vertical-align: top;
	/*text-align: center;/*если потомок inline-block*/
}
.action__item:last-child {
	margin-right: 0;
}
.action__img-wrapper {
	/*isplay: inline-block;/*родителю text-align: center*/
	width: 275px;/*по самой большой ширине*/
	margin: 0 auto 35px;/*выровним по цетру лишки*/
	height: auto;
	text-align: center;/*для фото, чтоб по центру внутри контейнера*/
}
.action__img-wrapper img {
	
}
.action__info {
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}
.action__info a {
	color: #124e9c;
	transition: all 1s;/*text-decoration не предназначено*/
}
.action__info a:hover {
	color: black;
	text-decoration: none;
}
.action__info span {
	color: #B0B0B0;
}
/***************RESULTS*******************/
.results {
	margin-bottom: 41px;
}
.results .container {
	background-color: #1CB6F2;
	min-height: 177px;/*чтобы можно добавлять текст*/
	text-align: center;
	padding: 34px 0;
}
.results__title,
.results__info {
	font-size: 19px;
	line-height: 27px;
}
.results__title {
	position: relative;
	color: #fff;
	margin: 0 auto 40px;/*еще вернемся*/
	width: 764px;/*решил <br> убрать задав
	 требуемую ширину и margin: 0 auto*/
}
.results__title:after {
	content: '';
	position: absolute;
	display: block;
	width: 114px;
	height: 2px;
	background-color: #49c5f4;
	top: 73px;
	margin: 0 325px;
}
.results__info {
	color: #000;
}

/*********SORTING**************/
.sorting {
	margin-bottom: 44px;
}
.sorting__wrapper {
	width: 550px;/*********/
	margin: 0 auto;
}
.sorting__by {
	display: inline-block;
	color: #000;
	font-size: 14px;
	line-height: 22px;
	width: 111px;/*при 108 в FF40 недостаточно*/
	margin: 0 18px 0 55px;
}
.sorting__btn {
	color: #124E9C;
	border-bottom: 1px dashed #124e9c;
	font-size: 14px;
	line-height: 22px;
	padding: 6px 0px 1px;
	margin: 0 14px;
	transition: color 0.5s;
}
.sorting__btn:last-child {
	margin-right: 0;
}
.sorting__btn:hover {
	color: #fff;
	padding: 6px 14px;
	margin: 0;
	background-color: #f28500;
	border-bottom: none;
	border-radius: 2px;
	cursor: pointer;
}
.sorting__btn--active {
	color: #fff;
	padding: 6px 14px;
	margin: 0;
	background-color: #f28500;
	border-bottom: none;
	border-radius: 2px;
}

/**********UPLOADING***************/
.uploading {
	margin-bottom: 44px;
}
.uploading__wrapper {
	text-align: center;
}
.uploading__btn {
	display: block;
	height: 64px;
	border: 2px dashed #E3E3E3;
	line-height: 64px;
	text-decoration: none;
	color: #124E9C;
	font-size: 16px;
	font-weight: bold;
	transition: border 1s;
	background-image: url(../img/my-upload.png);
	background-repeat: no-repeat;
	background-position: 590px center;
}
.uploading__btn:hover {
	border: 2px dashed #8E8E8E;
}

/*********GALLERY************/
.gallery {
	margin-bottom: 50px;
}
.gallery__list {
	/*margin-right: -38px; не будем так, это для IE8*/
	width: 100%;
}
.gallery__item {
	display: inline-block;
	width: 300px;
	margin-right: 20px;
}
.gallery__item:nth-child(3n+3) {
	margin-right: 0;
}
.gallery__like-wrapper {
	text-align: center;
}
.gallery__title {
	
}
.gallery__date {
	float: left;
	font-size: 14px;
	line-height: 22px;
	color: #B0B0B0;
}
.gallery__owner {
	float: right;
	
	font-size: 14px;
	line-height: 22px;
	color: #B0B0B0;
}
.gallery__owner span {
	float: right;
	margin-left: 3px;
	font-size: 14px;
	line-height: 22px;
	color: #124E9C;
	text-decoration: underline;
}